/*
    ------------------------
    ----- 1. Variables -----
    ------------------------
*/

// Define base and accent colors
$base-color: #3498db;
$base-color-hover: darken($base-color, 10%);

// Define background colors
$background: #fff;
$background-alt: #f2f2f5;

// Define border colors
$border: #dcd9d9;

// Define text colors
$heading: #374054;
$text: #74808a;

/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/
@import '~antd/dist/antd.css';

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
        opacity: 1;
    }
    &::-moz-placeholder {
        @content;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    &.active {
        overflow: hidden;
        z-index: -1;
    }
}

@keyframes dropHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;

    ul {
        display: inline-block;
        background: $background;
        text-align: center;
        padding: 10px;
        margin: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        // color: $base-color;
        padding: 10px;
        font-weight: 800;

        &.activeRoute {
            color: $base-color-hover;
            text-decoration: none;
            background: #eee;
            border-radius: 4px;
        }

        // &:hover {
            // color: $base-color-hover;
            // text-decoration: underline;
        // }

        // &:focus {
        //     color: $base-color;
        //     text-decoration: none;
        // }
    }

    &.active {
        display: block;
    }

    &.sticky {
        position: fixed;
        z-index: 999;
    }
}

#menu {
    background-color: $base-color;
    font-size: 2rem;
    width: 99vw;
    &.active {
        display: block;
    }
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 25px;
    top: 20px;
    color: $base-color;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: $background;
}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: $background;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: $base-color;

    span {
        font-size: 0.5em;
        text-transform: uppercase;
    }

    i {
        vertical-align: middle;
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.slide-in-left-1s {
    animation: slideInLeft 1s ease both;
}
.slide-in-right-1s {
    animation: slideInRight 1s ease both;
}

footer {
    padding: 50px 0;
}

.copyright {
    padding-top: 20px;
    p {
        margin: 0;
        color: $text;
    }
}

.top {
    text-align: center;
    span {
        cursor: pointer;
        display: block;
        margin: 15px auto 0 auto;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 3px solid lighten($text, 25%);
        text-align:center;
    }
    i {
        color: $text;
    }
}

.social {
    text-align: right;
    ul {
        margin: 5px 0 0 0;
        padding: 0;
    }
    li {
        display: inline-block;
        font-size: 1.25em;
        list-style: none;
    }
    a {
        display: block;
        color: $text;
        padding: 10px;

        &:hover {
            color: $base-color;
        }
    }
}

.shadow {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.24), -1px 1px 2px rgba(0,0,0,0.24);
}

.shadow-large {
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 4rem;
    font-weight: 300;
    &:after {
        position: absolute;
        content: '';
        top: 100%;
        height: 1px;
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: $base-color;
    }
}

.background-alt {
    background: $background-alt;
}

/*
    --------------------------
    ----- 4. About Styles -----
    --------------------------
*/

#about {
    position: relative;
    // height: 94vh;
    height: calc(var(--vh, 1vh) * 94);
    border-bottom: 2px solid white;
    padding: 15px;
    overflow: hidden;
    #edan {
        position: relative;
        max-width: 15rem;
        border-radius: 100%;
        z-index: 2;
    }
    #pepsi-container {
        width: auto;
        display: inline-block;
        position: absolute;
        left: 6rem;
        z-index: 2;
        #pepsi-note {
            text-decoration: none;
            .panel {
                width: auto;
                display: inline-block;
            }
        }
    }
}

#about-header {
    // position: absolute;
    z-index: 10;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // text-align: center;
    width: fit-content;
    position: relative;
    // transform: unset;
    // top: unset;
    // left: unset;
    margin: 10vh auto 4vh auto;

    h1, h2 {
        margin: 0;
    }
    h1 {
        color: black;
        font-weight: 900;
        font-size: 5em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 0.9em;
    }
    h2 {
        color: #3498db;
        // color: lighten($base-color, 25%);
        font-weight: 500;
        font-size: 2.25em;
        margin-bottom: 15px;
    }
}

#about-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#f2f2f5, 1);
    // background: rgba(40,140,247, 0.8);
    // background: rgba($base-color-hover, 0.8);
    z-index: 1;
}

.hexagon {
    z-index: 2;
    display: inline-flex;
    position: relative;
    width: 100px; 
    height: 57.74px;
    background-color: #64C7CC;
    margin: 3em 0;
    i {
        position: absolute;
        // top: 20px;
        font-size: 40pt;
        color: #fff;
        left: 0;
        right: 0;
        z-index: 1;
    }
}
.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}
.hexagon:before { 
    bottom: 100%;
    border-bottom: 28.87px solid #64C7CC;
}
.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #64C7CC;
}
.hexagon-header {
    z-index: 2;
    position: relative;
    h5 {
        color: black;
        font-weight: 700;
        font-size: 2.25em;
        margin: 0 0 5px 0;
    }
    h6 {
        color: #455A64;
        // color: #3498db;
        font-weight: 700;
        font-size: 1.3em;
        height: 4em;
    }
}

#lead-down {
    width: 100%;
    text-align: center;
    z-index: 10;
    padding-top: 1vh;
    color: #fff;
    i {
        font-size: 3vh;
        animation: pulsate 1.5s ease;
        animation-iteration-count: infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes grow {
    100% {
        transform: scale(0.8);
    }
}

/*
    -------------------------------
    ----- 8. Project Styles -----
    -------------------------------
*/

#projects {
    padding: 18% 15px 10% 15px;
    border-bottom: 1px solid $border;
    text-align: center;

    h2 {
        color: $heading;
    }
    #project-note {
        text-decoration: none;
        .panel {
            width: 900px;
            display: inline-block;
        }
    }
    .view-project-circle {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        opacity: 0;
        transform: scale(0.3);
        // transition: all 0.15 ease-out;
    }
    .project-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        background-color: grey;
    }
    .project:hover > .project-overlay {
        opacity: 0.5;
    }
    .project:hover > .view-project-circle {
        opacity: 1;
        animation: grow 0.4s ease-out;
        animation-fill-mode: forwards;
    }
}

.project {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}

.project-image {
    float: left;
    img {
        width: 280px;
    }
}

.project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 300px;
    padding: 15px;

    h3 {
        font-size: 1.5em;
        font-weight: 300;
        color: $heading;
        margin: 0 0 15px 0;
    }

    p {
        color: $text;
        margin: 0 0 15px 0;
        font-size: 0.9em;  
    }
}

.linkNewTab {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
    :hover {
        text-decoration:none;
        text-shadow: 1px 1px 1px #555;
   }
}

#more-projects {
    display: none;
}

/*
    -------------------------------
    ----- 9. Skills Styles -----
    -------------------------------
*/

#skills {
    padding: 18% 15px 10% 15px;
    text-align: center;
    h2 {
        color: $heading;
        margin-bottom: 50px;
    }
    ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
    }
    // li {
    //     display: inline-block;
    //     margin: 7px;
    //     padding: 5px 10px;
    //     color: $heading;
    //     background: darken($background-alt, 5%);
    //     list-style: none;
    //     cursor: default;
    //     font-size: 1.2em;
    // }
    li {
        padding: 0.3em;
        font-size: 1.2em;
    }
}

/*
    -------------------------------
    ----- 10. Contact Styles -----
    -------------------------------
*/

#contactSpacer {
    background: $base-color;
}

#contact {
    padding: 50px 15px;
    background: $base-color;
    text-align: center;
    h2 {
        margin: 0 0 15px 0;
        color: #fff;
        font-weight: 500;
    }
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
    input, textarea {
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: none;
        margin-bottom: 10px;
        background: darken($base-color, 15%);
        color: #fff;
        @include placeholder {
            color: #fff;
        }
        &:focus {
            outline: none;
            background: darken($base-color, 25%);
        }
    }
    textarea {
        height: 150px;
        resize: none;
    }
    button {
        display: block;
        width: 100%;
        background: #fff;
        border-radius: 4px;
        padding: 5px 10px;
        border: none;
        color: $base-color;
        font-weight: 700;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        &:hover {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
    }
}

/*
    -----------------------------
    ----- 12. Media Queries -----
    -----------------------------
*/
@media only screen and (max-width: 750px) {
    #about {
        #about-header {
            margin: 8vh auto 4vh auto;
        }
        #edan {
            margin: unset;
            max-width: 11rem;
        }
        #pepsi-container {
            display: block;
            position: relative;
        }
    }
    #skills {
        height: unset;
    }
}

// Medium Devices
@media only screen and (max-width : 992px) {
    #about {
        text-align: center;
        p {
            text-align: left;
        }
        #pepsi-container {
            left: 0;
        }
    }
    #projects #project-note .panel {
        width: 750px;
    }
}

// Small Devices
@media only screen and (max-width : 768px) {
    #menu {
        font-size: 1.7rem;
        padding: 2px 10px;
    }
    .education-block {
        h3, span {
            float: none;
        }
    }
    .project-image img {
        max-width: 150px;
        padding: 10px 0px 0px 10px;
    }
    .project-info {
        position: relative;
        margin: 0;
        top: auto;
        transform: none;
    }
    footer {
        text-align: center;
    }
    .social {
        text-align: center;
    }
    #projects #project-note .panel {
        display: block;
        max-width: 100%;
    }
}

// Extra Small Devices
@media only screen and (max-width : 440px) {
    .hexagon {
        width: 60px; 
        height: 34.64px;
        i {
            font-size: 3.2em !important;
        }
    }
    .hexagon:before,
    .hexagon:after {
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
    }
    .hexagon:before {
        border-bottom: 17.32px solid #64C7CC;
    }
    .hexagon:after {
        border-top: 17.32px solid #64C7CC;
    }
    .hexagon-header {
        h5 {
            font-size: 2em;
        }
        h6 {
            font-size: 1.25em;
            font-weight: 700;
        }
    }
    #menu {
        font-size: 1.4rem;
    }
    #about {
        font-size: 8pt;
        #about-header {
            font-size: smaller;
        }
    }
    .project-image img {
        max-width: 120px;
    }
    .tiny-recipes-screenshot {
        // top: 50%;
        width: 100%;
        height: unset;
        position: relative;
        transform: translateY(-50%);
    }
}

@media only screen and (min-width : 992px) {
    #about {
        height: 94vh;
        .row {
            margin-top: 10vh;
        }
    }
    .hexagon-header {
        h6 {
            height: unset;
        }
    }
}

@media only screen and (max-height : 666px) {
    #about {
        #edan {
            max-height: 8em;
        }
    }
    .hexagon {
        margin: 2em 0;
    }
    .hexagon-header {
        h6 {
            height: 1.9em;
        }
    }
}

@media only screen and (min-width : 750px) {
    // #about, #skills {
        // height: 94vh;
        // height: calc(var(--vh, 1vh) * 94);
    // }
    #projects, #skills {
        padding-top: 10%;
        padding-bottom: 0;
        min-height: 94vh;
    }
    #skills {
        li {
            font-size: 1.5em;
        }
    }
    .hexagon-header {
        h6 {
            width: 50%;
            margin: auto;
        }
    }
}

// iphone 5 width is 320
@media only screen and (max-device-width : 324px) {
    header #menu {
        padding: 2px 0;
        font-size: small;
        a {
            padding: 8px;
        }
    }
    #about {
        height: unset;
        #about-header {
            font-size: 7px;
        }
    }
}

@media only screen and (-webkit-max-device-pixel-ratio: 1.8) {
    #about {
        .row {
            font-size: small;
        }
    }
}
@media only screen and (-webkit-max-device-pixel-ratio: 1.1) {
    #about {
        .row {
            font-size: x-small;
        }
    }
}
